.intro{
    padding: 6.2rem 14.8rem;
    border-bottom:  1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    height: 100%;
    width: 100%;
    .purplestar{
        top: 35%;
        right: 30%;
    }
    .lilacstar{
        top: 30%;
        left: 20%;
    }
    &__section{
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 7.2rem;
        &__left{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            position: relative;
            .arrowimg{
                position: absolute;
                bottom: 0;
                right: -4rem;
            }
            .introimg{
                margin-bottom: 1.6rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &__right{
            padding-left: 3.4rem;
            p{
                letter-spacing: .208px;
                margin-left: 3px;
            }
        }
        
    }
}
@media screen and (max-width:1300px) {
    .intro{
        padding: 4rem 6.3rem;
        &__section{
            gap: 5rem;
            &__left{
                justify-content: center;
                .introimg{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__right{
                padding-left: 1rem;
            }
        }
    }
}
@media screen and (max-width:900px) {
    .intro{
        .lilacstar{
            top: 20%;
            left: 10%;
        }
        &__section{
            display: block;
            &__left{
                flex-direction: column;
                align-items: center;
                .arrowimg{
                    position: static;

                }
                .introimg{
                    padding-bottom: 1rem;
                }
            }
            &__right{
                padding:3rem ;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .intro{
        padding: 2.9rem 3.4rem;
        &__section{
            display: block;
            &__left{
                .arrowimg{
                    img{
                        width: 2.8rem;
                        height: 2.2rem;
                    }
                }
                .introimg{
                    padding: 0 2.9rem 1rem;
                }
            }
            &__right{
                padding:2.9rem 3.5rem 4.6rem 3.5rem;
                h3{
                    font-size: 2rem;
                    line-height: 133%;
                }
                p{
                    font-size: 1.3rem;
                    margin-left: 0;
                    letter-spacing: -.6px;
                }
            }
        }
    }
}