.rules{
    padding: 0 8.1rem;
    border-bottom:  1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    .starwhite{
        left: 50%;
        bottom: 20%;
    }
    .greystar{
        left: 30%;
        top: 20%;
    }
    &__section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.2rem;
        align-items: center;
        &__left{
            padding: 0 2.6rem 2.4rem 10rem;
            p{
                margin-left: 3px;
                letter-spacing: -1px;
            }
        }
        &__right{
            img{
                margin-top: -10rem;
                margin-bottom: -5rem;
            }
        }
    }
}
@media screen and (max-width:1300px) {
    .rules{
        padding: 0 4rem ;
        &__section{
            &__left{
                padding: 0 1.6rem 2rem 3rem;
            }
            &__right{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    
}
@media screen and (max-width:900px) {
    .rules{
        &__section{
            grid-template-columns: 1fr;
            &__left{
                order: 1;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .rules{
        padding: 0 4.5rem;
        &__section{
            gap: 0;
            &__left{
                text-align: center;
                padding: 0;
                padding-bottom: 4.6rem;
                h3{
                    padding: 1rem 0 .9rem;
                    font-size: 2rem;
                    line-height: 133.33%;
                }
                p{
                    margin-left: 0;
                    padding-top: 0;
                    font-size: 1.3rem;
                    letter-spacing: normal;
                }
            }
            &__right{
                padding: 0 .3rem;
            }
        }
    }
}